body {
  background-color: rgb(145, 145, 145) !important;
}

.contianer{
  display: flex;
  justify-content: center;
}
.row{
  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.col-sm{
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

/* .first{
  width: 150px;
}

.last{
  width: 150;
}

.email{
  width: 250px;
}

.address{
  width: 300px;
} */